/* No CSS *//*# sourceMappingURL=style.css.map */
/* No CSS *//*# sourceMappingURL=style.css.map */

*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.hide{
    display: none;
}
body{
    overflow-x: hidden;
    color: white;
    font-family: sans-serif;
    background-image: linear-gradient(to left, #434343 0%, black 100%);
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: transparent;
}
/* preloader */

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
    transition: 1s;
}

.preloader::before{
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 1s;
    background-color: black;
}

.preloader.complete::before{
    left: -50%;
}

.preloader.complete::after{
    right: -50%;
}

.preloader::after{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    transition: 1s;
    background-color: black;
}


.preloader.complete{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* Loader Icon Design By Udokovic Soft */

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid white;
    animation: animate 2s linear infinite;
    z-index: 100000;
}

.loader::before{
    content: '' ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    animation: animatebg 2s linear infinite;
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    50%{
        transform: translate(-50%,-50%) rotate(180deg);
    }
    75%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

@keyframes animatebg{
    0%{
        height: 10%;
    }
    25%{
        height: 0;
    }
    50%{
        height: 100%;
    }
    75%{
        height: 100%;
    }
    100%{
        height: 0;
    }
}


#totop{
    z-index: 10000;
    background-color: black;
    color: white;
    position: fixed;
    right: 2px;
    bottom: 2px;
    border: 1px solid transparent;
    padding: 6px;
    border-radius: 6px;
}

#totop:hover{
    background-color: white;
    color: black;
    transition: all 0.5s ease-in-out;
    border: 1px solid black;
    transform: scale(1.3);
}
.nav{
    width: 90%;
    margin: 0 auto;
}
.main-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-nav ul{
    display: flex;
}

.main-nav ul li{
    color: white;
    margin-left: 25px;
    padding: 10px;
}

.nav-header{
    display: flex; 
    align-items: center;
}

.nav-header h1{
    margin-left: 15px;
    color: white;
}

.nav-links:hover{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: all 0.4s ease-in-out;
}

#nav-active{
    border: 2px solid white;
    transition: all 0.4s ease-in-out;
}
.first-view{
    animation: slider 16s ease-in-out infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
}

@keyframes slider{
    0%,100%{
        background-image: url(./images/pic.jpg) ;
    }
    50%{
        background-image: url(./images/pic2.jpg);
    }

    75%{
        background-image: url(./images/pic3.jpg);
    }

    95%{
        background-image: url(./images/pic4.jpg);
    }
}

.show-text{
    margin: 0 auto;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

[data-aos="miracle"]{
    transform: translateX(500px);
    opacity: 0;
    transition-property:  transform, opacity; 
}
[data-aos="miracle"].aos-animate{
    transform: translateX(0);
    opacity: 1;
}

[data-aos="arena"]{
    transform: translateX(-500px);
    opacity: 0;
    transition-property:  transform, opacity; 
}
[data-aos="arena"].aos-animate{
    transform: translateX(0);
    opacity: 1;
}

[data-aos="bu"]{
    transform: translateY(200px);
    opacity: 0;
}

[data-aos="bu"]:hover{
    transform: scale(0.19);
    transition: all 0.3s ease;
}
[data-aos="bu"].aos-animate{
    transform: translateY(0px);
    opacity: 1;
}

.show-text h3{
    font-size: 80px;
}

.show-text h5{
    font-size: 70px;
}

.show-text p span{
    margin-left: 10px;
    font-size: 14px;
    color: rgb(211, 209, 209);
}

.show-btn{
    background: transparent;
    width: 195px;
    padding: 1rem;
    color: white;
    border: 2px solid white;
}

.show-btn:hover{
    background-color: white;
    color: black;
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    border: 2px solid white;
}


/* New Here Section */

.new{
    width:55%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    color: #fff;
}


.demo1{
    width: 100%;
    height: 60vh;
    background-image: url(./images/bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.more-section{
    display: flex;
}

.more-section button{
    margin-left: 25px;
}
#abt-btn{
    background: transparent;
}
#abt-btn:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: all 0.4s ease;
}

/* Gallery Section */





.gallery #show{
    padding: 1rem;
}

.gallery:hover{
    transition: all 0.7s ease; 
    
}

.gal-effect:hover{
    transform: scale(1.05);
    transition: all 0.9s ease;
    color: #fff;
    cursor: pointer;
}

/* footer */


.footer{
    padding:2rem;
    width: 100%;
    height: auto;
    background-color: #201A16;
}

.footer-inner{
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: repeat(auto-fit, 200px);
    width: 100%;
    margin: 0 auto;
}
.footer p{
    color: white;
    font-size: 30px;
}

.footer div{
    text-align: center;
}

.social-links{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.social-links a{
    text-align: center;
    text-decoration: none;
    color: white;
}

#fb{
    font-size: 40px;
    color:#1877F2;
}
#twi{
    font-size: 40px;
    color: #1EA3B9;
}
#you{
    font-size: 40px;
    color: rgb(248, 16, 16);
}



/* Services */

.services{
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: space-around;
    align-items: center;
}
.service-img img{
   width: 100%;

}

.service-text-heading{

    font-size: 25px;
}

.service-text{
    text-align: center;
    width: 100%;
}

.live-countdown {
    border: 1px white solid;
    height: auto;
    padding: 3rem;
    text-align: center;
    width: 100%;
}
.live-countdown h3, .live-countdown p {
    width: 100%;
}

.count{
    margin-left: 20px;
}
[data-aos="fly"]{
    transform: rotate(360deg);
    opacity: 0;
    transition-property:  transform, opacity; 
}
[data-aos="fly"]:hover{
    transform: scale(1.09);
}
[data-aos="fly"].aos-animate{
    transform: rotate(0);
    opacity: 1;
}
.live-countdown:hover{
    cursor: pointer;
    transform: scale(1.09);
    transition: all ease 0.5s;
    
}
/* Vicar General */

.vicar{
    width: 100%;
    height: 60vh;
    background-image: url(./images/bg4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-columns:40% 60% 70%;
    align-items: center;
    justify-content: center;
}

.vicar-inner{
    border: 1px solid rgb(199, 199, 199);
    width: 75%;
    height:70%;
    padding: 80px;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
}

.vicar-text{
    margin-right: 50px;
}

.vicar-text-name{
    font-size: 40px;
    text-align: right;
}

.vicar-text-description{
    width: 100%;
    text-align: center;
}

.button{
    padding: 8px;
    border-radius: 6px;
    color: rgb(26, 123, 235);
    border: 1px solid rgb(26, 123, 235);
}

.button:hover{
    color: white;
    background-color: rgb(26, 123, 235);
    transition: all 0.6s linear;
    border: 1px solid white;
    text-align: right;
}
/* ************************************************** */

/* Sermon Page */
.sermon-back-drop{
    animation: sermon-slider 25s ease-in infinite;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sermon-cover{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    
    i{
        background-color: transparent;
        border: 1px solid white;
        border-radius: 50%;
        padding: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    i{
        color: white;
    }

    i:hover{
        background-color: white;
        color: black;
        transition: 0.5s all ease-in-out;
        cursor: pointer;
    }
    h3{
        font-size: 60px;
        text-align: center;
        margin-right: 60px;
    }
}


.sermon{
    width: 100%;
    height: auto;
}
.sermon-first{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 30px;
    padding: 10px;
}
.sermon-dropown{
    background-image: url(./images/stones.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
}

.sermon-btn{
    padding: 10px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    margin-left: 10px;
}

.sermon-btn:hover{
    
    background-color: black;
    transform: scale(1.06);
    color: white;
    transition: 0.5s all ease-in;
}
@keyframes sermon-slider{
    0%,100%{
        background-image: url(./images/Bible.jpg) ;
    }

    75%{
        background-image: url(./images/Boy-laughing-with-bible.jpg);
    }
}



// **************************************************************
// Prayer Request

.prayer-request{
    background-color: white;
    color: black;
}

.form-con{
    width: 40%;
    margin: 0 auto;
}

// ***************************************************************
// Media Page

.media{
    width: 100%;
    height: 100vh;
    background-image: url(./images/Worshi-hand-raised.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: media-slider 25s ease-in infinite;
}

@keyframes media-slider{
    0%,100%{
        background-image: url(./images/Worshi-hand-raised.jpg) ;
    }

    50%{
        background-image: url(./images/worship-hand-up.jpg) ;
    }

    75%{
        background-image: url(./images/Worship-screen.jpg);
    }
}

.worship-btn{
    padding: 10px;
    border-radius: 6px;
}
.head-main{
    height: 80vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worship-center-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 60px;
        text-align: center;
    }
}

.media-inner{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
}
.audio-series{
    width: 50%;
    height: 50vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-image: url(./images/sincerely-media-dGxOgeXAXm8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1{
        font-size: 50px;
    }
    .audio-section{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon_head{
            width: 100%;
        }
        i{
            font-size: 40px;
        }
        .listen-btns{
            width: 100%;
        }
        .list-btn{
            padding: 6px;
            border-radius: 6px;
            background-color: transparent;
            color: white;
            &:hover{
                background-color: white;
                color: black;
                border: 1px solid black;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}

.media-sermon-audio{
    width: 50%;
    height: 50vh;
    background-color: red;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-image: url(./images/sincerely-media-dGxOgeXAXm8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h3{
        font-size: 50px;
    }

    h5{
        font-size: 15px;
    }
    button{
        padding: 5px;
        border: 1px solid white;
        border-radius: 10px;
        background: transparent;
        color: white;
        margin-top: 10px;
        &:hover{
            background-color: white;
            color: black;
            transition: all 0.6s ease-in-out;
            border: 1px solid black;
        }
    }
}
.media-gallery{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/catolog.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .gal-text{
        font-size: 50px;
    }
    h5{
        font-size: 15px;
    }
    button{
        padding: 5px;
        padding-left: 26px;
        padding-right: 26px;
        border: 1px solid white;
        border-radius: 10px;
        background: transparent;
        color: white;
        &:hover{
            background-color: white;
            color: black;
            transition: all 0.6s ease-in-out;
            border: 1px solid black;
        }
    }
}

// Message of the day

.message-of-the-day{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(./images/reading.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2{
        font-size: 80px;
    }
    i{
        font-size: 60px;
        background-color: white;
        color: black;
        border-radius: 50%;
        padding: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        cursor: pointer;
        &:hover{
            background-color: black;
            color: white;
            transition: all 0.6s ease-in-out;
        }
    }
}

.message{
    height: 100vh;
    width: 100%;
}

// ****************************************************************
// Contact Page
.contact{
    width: 100%;
    height: auto;
    background-image: url(./images/contactpage2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-inner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.contact-form{
    width: 100%;
    border-right: 1px solid white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    input{
        background-color: transparent;
        color: white;
    }
    .form-inner{
        width: 60%;
        margin: 0 auto;
    }
}
.address{
    border-left: 1px solid white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5rem;
    width: 100%;
    height: 100vh;
}